<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE log4j:configuration SYSTEM "log4j.dtd">

<log4j:configuration>

    <appender name="ConsoleAppender" class="org.apache.log4j.ConsoleAppender">
        <param name="Encoding" value="Cp866"/>
        <layout class="org.apache.log4j.PatternLayout">
            <param name="ConversionPattern" value="[%-5p][%-16.16t][%32.32C{1}] - %m%n" />
        </layout>
    </appender>

    <!--<appender name="SocketAppender" class="org.apache.log4j.net.SocketAppender">-->
        <!--<param name="remoteHost" value="127.0.0.1"/>-->
        <!--<layout class="org.apache.log4j.PatternLayout">-->
            <!--<param name="ConversionPattern" value="[%-5p][%-16.16t][%32.32c] - %m%n" />-->
        <!--</layout>-->
    <!--</appender>-->

    <logger name="org.hibernate" additivity="false">
        <level value="WARN"/>
        <appender-ref ref="ConsoleAppender" />
        <!--<appender-ref ref="SocketAppender" />-->
    </logger>

    <logger name="org.springframework" additivity="false">
        <level value="WARN"/>
        <appender-ref ref="ConsoleAppender" />
        <!--<appender-ref ref="SocketAppender" />-->
    </logger>

    <root>
        <priority value="DEBUG"/>
        <appender-ref ref="ConsoleAppender" />
        <!--<appender-ref ref="SocketAppender" />-->
    </root>

</log4j:configuration>